.main-list {
  width: 620px;
  height: 530px;
}

.index-card {
  max-width: 600px;
}

.index-card:hover {
  background-color: #F5F5F5;
  text-decoration: none !important;
  color: black;
}

#map {
  width: 620px;
  height: 500px;
}

.img-card {
  display: block;
  margin: auto;
  width: 40%;
}
