.profile-container-host {
  margin-right: 200px;
  margin-top: -1050px;
  position: -webkit-sticky;
  position: sticky;
  top: 8rem;
}

.card-listing {
  max-width: 300px;
  min-width: 300px;
  margin: 5px;
  height: 280px;
}

.card-picture {
  width: 250px;
  height: 150px;
}

.body {
  padding: 20px;
}

.text {
  color: black;
}

.profile-container-guest {
  margin-right: 200px;
  margin-top: -440px;
}

.profile-card {
  border: 1px solid #9C9E9B;
  border-radius: 5px;
  background-color: white;
  width: 300px;
  margin-right: 40px;
  margin-bottom: 40px;
}

.listings {
  border: 1px solid #9C9E9B;
  border-radius: 5px;
  height: 500px;
  width: 500px;
}

.three-listings {
  border: 1px solid #9C9E9B;
  border-radius: 5px;
  width: 700px;
  height: 300px;
}

.heading {
  padding: 20px;
}

.card-padding {
  padding: 20px;
  text-align: center;
}

.card-padding-edit {
  padding: 20px;
  text-align: center;
  padding-bottom: 0px;
}

.profile-picture {
  text-align: center;
}

.header {
  text-align: top;
}

.reviews {
  padding: 20px;
  padding-bottom: 5px;
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 15px;
}

.profile {
  text-align:center;
  padding:30px;
  padding-bottom: 10px;
  margin-left:400px;
  margin-right:400px;
}

.review-container {
  padding-bottom: 50px;
}

.review-list {
  padding-top: 30px;
  padding-bottom: 10px;
}

.home-name {
  padding-top:0px;
}
