.profile-container {
  margin-right: 200px;
}

.profile-card {
  border: 1px solid;
  border-radius: 5px;
  background-color: white;
  width: 300px;
  margin-right: 40px;
  margin-bottom: 40px;
}

.listings {
  border: 1px solid;
  border-radius: 5px;
}

.heading {
  padding: 20px;
}

.card-padding {
  padding: 20px;
  text-align: center;
}

.profile-picture {
  text-align: center;
}

.header {
  text-align: top;
}



