<div class="card bg-dark text-black">
  <img src="https://images.pexels.com/photos/753626/pexels-photo-753626.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img" alt="...">
  <div class="card-img-overlay text-center">
    <%= link_to "Find A Home", homes_path, type: "button", class: "btn btn-dark btn-lg rounded-pill" %>
  </div>
</div>
