// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";

.justify-content-around {
  padding-top: 18px;
}

.card-body {
  padding: .25rem;
}

p {
  margin-bottom: .25rem;
}
