.navbar-lewagon {
  justify-content: space-between;
  background: #F5F5F5;
  // border-bottom: 1px solid #E4E4E4;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
